@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300,400&display=swap');


$primaryFont: 'Raleway', sans-serif;
$secondaryFont:  'Lato', sans-serif;




$primaryBackgroundColor: #537ec5; 
$secondaryBackgroundColor: #e3b04b;
$greyBackgroundColor: #434e52;
$tanBackgroundColor: #fcf9ea;

$primaryTextColor: #5d5b6a;
$secondaryTextColor: white;
