@import '../meyerReset';
@import '../variables';


nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    overflow-x: hidden;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
    font-family: $primaryFont;

        .nav-links{
            display: flex;
            justify-content: space-around;
            width: 30%;
            li {
                list-style: none;
            }
            a{
                color: grey;
                text-decoration: none;
                letter-spacing: 1px;
                font-size: 15px;
                &:hover{
                    font-size: 16px;
                }
            }
        }

        nav .dropdown{
            display: none;
        }

        .burger-icon{
            display: none;
            cursor: pointer;
        }

}


@media screen and (max-width: 1000px){
    nav .burger-icon{
        display: block;
    }

    nav .nav-links{
        display: none;
}


}

@media screen and (max-width: 600px){

    nav .nav-links{
             display: none;
    }

    nav .burger-icon{
        display: block;
    }
}









