@import '../meyerReset';
@import '../variables';

.CakeProjects{
    width: 100vw;
    margin-bottom: 3.5em;
}

.Carousel-img{
   width:20em;
   padding-top: 2.5em;
   padding-bottom: 3em;
}

#Cake-title-container{
    #CakeProject-title{
        font-size: 2.3em;
        display: flex;
        justify-content: flex-end;
        font-family: $primaryFont;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    display: grid;
    justify-content: center;
    margin: 2em 0em 0em 0em;
}


@media screen and (max-width: 1024px){

    .CakeProjects{
      display: none;
    }
    
}


@media screen and (max-width: 450px){

    .CakeProjects{
        display: none;
      }
      

}