/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Skills-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  background-color: white;
}

.Skills-about-me-greeting {
  font-size: 50px;
  display: -ms-grid;
  display: grid;
  font-weight: 900;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2em 0em 0.5em 0em;
  margin-top: 30px;
}

.Skills-about-me-greeting p {
  text-align: left;
  width: 50em;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5em;
}

.Skills-about-me-greeting #Skills-greeting-block {
  width: 5em;
  height: 5px;
  background-color: #a96851;
  margin: 0.5em 0em 1em 0em;
  -ms-grid-column-align: center;
      justify-self: center;
}

.Skills-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em 2em 8em 2em;
}

.box-1, .box-2, .box-3 {
  -webkit-box-shadow: 12px 17px 15px #868686;
          box-shadow: 12px 17px 15px #868686;
  border-radius: 15px;
  -ms-grid-row-align: center;
      align-self: center;
  height: 300px;
  width: 300px;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ededed));
  background: linear-gradient(180deg, #fafafa 0%, #ededed 100%);
  color: #222831;
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
}

.box-1:hover, .box-2:hover, .box-3:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.Skills-icon {
  width: 40px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 34px;
}

.Skills-header-text {
  text-align: center;
  font-size: 1.2em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  color: #222831;
}

.Skills-header-sub-text {
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding: 0em 1.5em 0em 1.5em;
}

.Skills-box-text-content {
  margin-left: 4em;
  font-size: 16px;
  padding-bottom: 3em;
  font-family: 'Noto Sans JP', sans-serif;
  list-style-type: circle;
  color: #222831;
}

@media screen and (max-width: 1050px) {
  .Skills-about-me-paragraph {
    width: 50em;
  }
}

@media screen and (max-width: 768px) {
  .Skills-about-me-paragraph {
    width: 40em;
  }
  .Skills-header-sub-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .Skills-about-me-greeting {
    display: none;
  }
  .Skills-box-container {
    display: none;
  }
}

main {
  display: -ms-grid;
  display: grid;
}

body {
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.HomePage-main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  font-family: 'Raleway', sans-serif;
  width: 100vw;
  color: #4d4646;
}

.Mobile-link-content {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #1e1e1e;
  background: linear-gradient(45deg, #1e1e1e 34%, rgba(61, 61, 61, 0.972426) 100%);
}

#StyledLogo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.greeting-container {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2em;
  border: none;
  color: white;
}

.greeting-container #title {
  font-size: 25px;
  color: #a96851;
}

.greeting-container #about {
  display: none;
}

#Divider {
  height: 4px;
  background-color: whitesmoke;
  margin: 0em 7em 0em 7em;
}

#miwha-phone-image {
  display: none;
}

@media screen and (max-width: 1024px) {
  .HomePage-main-container svg {
    display: none;
  }
  .Mobile-link-content {
    display: block;
  }
  .Footer-links {
    width: 25px;
    height: 25px;
    margin: 10px;
  }
  .greeting-container {
    font-size: 30px;
    display: contents;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 2.2em;
  }
  .greeting-container #title {
    font-size: 18px;
  }
  .greeting-container #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 15px;
    font-weight: 300;
    margin-top: 0px;
    width: 350px;
    text-align: center;
    color: #b8a9a9;
    line-height: 19px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
  }
  #Divider {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120vh;
  }
  #miwha-phone-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 140px;
    margin: 50px 0px 20px 0px;
  }
  .Skills-about-me-greeting {
    display: none;
  }
  .Skills-box-container {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .HomePage-main-container svg {
    display: none;
  }
  .Mobile-link-content {
    display: block;
  }
  .Footer-links {
    width: 25px;
    height: 25px;
    margin: 10px;
  }
  .greeting-container {
    font-size: 40px;
    display: contents;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-left: 2.2em;
  }
  .greeting-container #title {
    font-size: 20px;
  }
  .greeting-container #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    padding: 15px;
    font-weight: 300;
    margin-top: 0px;
    width: 280px;
    text-align: center;
    color: #b8a9a9;
    line-height: 19px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
  }
  #Divider {
    display: none;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
  }
  #miwha-phone-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 190px;
    margin-bottom: 20px;
    margin-top: -40px;
  }
}
/*# sourceMappingURL=HomePage.css.map */