@import '../meyerReset';
@import '../variables';
@import '../HomePage//skills';

main{
    display: grid;
}

*{
   box-sizing: border-box;
}
.HomePage-main-container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    font-family: 'Raleway', sans-serif;
    color:#4d4646;
}

header {
        display: flex;
        background: rgb(30,30,30);
        background: linear-gradient(45deg, rgba(30,30,30,1) 34%, rgba(61,61,61,0.9724264705882353) 100%);       
}

#StyledLogo-container{
    display: flex;
    justify-content: flex-end;
}

.greeting-container{
    font-size:60px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    border: none;
    color: white;
    p{
        font-size: 25px;
        color: #a96851;
    }
}

#Divider{
    height: 4px;
    background-color: whitesmoke;
    margin: 0em 7em 0em 7em;  
}

@media screen and (max-width: 768px){

    .HomePage-main-container{
        display: flex;
        flex-direction: column;
    }
    .greeting-container{
        font-size: 30px;
    }
}


@media screen and (max-width: 1024px){

    .HomePage-main-container{
        display: flex;
        flex-direction: column;
    }
    .greeting-container{
        font-size: 30px;
    }
}


@media screen and (max-width: 450px){

    .HomePage-main-container svg{
        display: none;
    }
    .greeting-container{
        font-size: 40px;
        height: 100vh;
        display: grid;
        align-content: center;
        margin-left: 2.2em;
    }
}

