@import '../meyerReset';
@import '../variables';

.Typewriter-blog-post-header{
    font-size: 2.3em;
    padding: 1em 1em 0em 1em;
  }
  
  .BlogHome-container{
      display: flex;
    }
  
    .BlogHome-medium-image{
      width: 32em;
      padding: 2em;
      margin: 2em 0em 2em 10em;
    }


    #Blog-title-container{
      #Blog-title{
        font-size: 2.2em;
        display: flex;
        justify-content: flex-end;
        font-family: $primaryFont;
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }
      
      display: grid;
      justify-content: flex-end;
      margin: 4em 8em -6em 3em;
  
    }

    .BlogHome-typewriter-container{
        align-self: center;
        display: flex;
      flex-direction: column;
    }
  
  .typewriter{
      display:flex;
  }
  
  .Typewriter-Header{
      color: #a96851;
      font-size: 42px;
      margin: 0.5em 0.5em 0em 0em;
      font-family: 'Noto Sans JP', sans-serif;
      font-weight: 700;
  }
  
  Typewriter-response-wrapper{
      font-size: 40px;
      display: flex;
      font-family: 'Noto Sans JP', sans-serif;
      margin-top: 0.7em;
  
  }
  
  .Typewriter-medium-link{
      text-decoration: none;
      color: #444444;
      font-size: 1em;
  }
  
  .Typewriter-green-icon{
     height: 4em;
  }
  
  
  