/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.BlogHome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.BlogHome-medium-image {
  width: 32em;
  padding: 2em;
  margin: 2em 0em 2em 10em;
}

.BlogHome-typewriter-container {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -6em;
}

.typewriter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Typewriter-Header {
  color: #a96851;
  font-size: 42px;
  margin: 0.5em 0.5em 0.5em 0em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

Typewriter-response-wrapper {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 0.7em;
}

.Typewriter-medium-link {
  text-decoration: none;
  font-size: 1.6em;
  padding-left: 7em;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.Typewriter-medium-link:hover {
  text-decoration: none;
  font-size: 1.62em;
  color: #81c881;
}

@media screen and (max-width: 768px) {
  .HomePage-main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .greeting-container {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  #Blog-section-container {
    display: none;
  }
  .BlogHome-typewriter-container {
    display: none;
  }
  .BlogHome-container {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #Blog-section-container {
    display: none;
  }
  .BlogHome-typewriter-container {
    display: none;
  }
  .BlogHome-container {
    display: none;
  }
}
/*# sourceMappingURL=Typewriter.css.map */