@import '../meyerReset';
@import '../variables';


footer{
    background-color: #323232;
    background-image: url("https://i.ibb.co/LdRLTm3/classy-fabric.png");
    color: #5d5b6a;
    padding: 0.3em;
    font-family: $primaryFont;
  }
  
  .signature{
    width: 10em;
    height: 5em;
    padding-right: 1em;
    padding-bottom: 1em;
    align-self: center;
  }
  
  .Footer-main-content{
    display: flex;
    justify-content: center;
  }
  
  .Footer-signature-links-container{
    display: flex;
    justify-content: center;
    padding-right: 0em 4em 0em 4em;
  }
  
  .Footer-content{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1em;
    font-weight: 900;
    padding: 1em 0em 1em 0em;
  }
  
  .Footer-links{
    width: 2em;
    height: 2em;
    margin:  0.5em;
  }
  
  .Footer-get-connected-container, .Footer-get-connected-container{
  margin: 2.1em 1em 1em 1em;
  width: 26em;
  }
  
  .Footer-signature-links-container{
    margin: 2.1em 1em 1em 1em;
    width: 13em;
  }
  .get-connected-text{
    font-size: 01em;
    font-family: $primaryFont;
  }
  
  .Footer-navigation-content{
    display: Flex;
    padding: 1em 1em 1em 1em;
  }
  
  .Footer-navigation{
    font-size: 1em;
    font-family: $primaryFont;
    color: #5d5b6a;
    text-decoration: none;
    padding: 0em 0.5em 1em 0.5em;
  }
  .Footer-navigation:hover{
    font-weight: 900;
    color: #5d5b6a;
  }


  @media screen and (max-width: 1024px){

    .Footer-main-content{
      display: none;
    }
    
}


@media screen and (max-width: 450px){

    .Footer-main-content{
        display: none;
      }
      

}